/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-10-2014, 08:24:58
    Author     : tesl
*/

h1,h2,h3, p, a{
    text-decoration: none;
    color: #000;
}


h1, .menu a{
    font-size: 2rem;
}

.menu a{
    font-size: 1rem;
}

.footer h2 {
    font-size: 2rem;
    color: #fff;
}

.footer h3 {
    font-size: 1.5rem;
    color: #fff;
}

.menu a {
    color: #000;
}

.active a{
    font-weight: 700;	
}

.menu > li > a:hover{
    font-weight: 700;
}

span{
    color: #5ab3e0;
}
.small-heading h2 {
    font-size: 2.5rem;
    font-weight: 400;  
    color: #fff;
}
.big-heading h2 {
    font-size: 5rem;
    font-weight: 400;
}

.heading h2{
    font-size: 2.5rem;
    font-weight: 400;
    color: #FFF;
}

.heading h3{
    font-size: 1.6rem;
    font-weight: 400;
    color: #FFF;
}

.heading p{
    font-size: 0.9rem;
    font-weight: 400;
    color: #FFF;
}


.info-heading-left h2{
    font-size: 2.5rem;
    font-weight: 400;
    color: #fff;
}

.info-heading-left h3{
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
}

.info-heading-left p{
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
}


.info-heading-right h2{
    font-size: 2rem;
    font-weight: 400;
    color: #000;
}

.info-heading-right h3{
    font-size: 1.5rem;
    font-weight: 400;
    color: #000;
}

.info-heading-right p{
    font-size: 1rem;
    font-weight: 400;
    color: #000;
}

.ad-info h2{
    font-size: 2rem;
    font-weight: 400;
    color: #5ab3e0;
}

.ad-info h3{
    font-size: 1.5rem;
    font-weight: 400;
    color: #000;
}

.ad-more h3{
    color: #fff;
}


.ad-category h2{
    font-size: 2rem;
    font-weight: 400;
    color: #000;
}

.ad-categories h2{
    font-size: 2rem;
    font-weight: 400;
    color: #000;
}

.ad-price h2{
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

.ad-comment h2{
    font-size: 0.9rem;
    font-weight: 400;

}

.ad-box h2{
    font-weight: bold;
    color: #5ab3e0;
}

.details h2, .details h3 {
    font-size: 2rem;
    font-weight: 400;
    color: #000;
}


.detail-price h3 {
    color: #fff;

}

 .comments h2{
        font-size: 2rem;
    font-weight: 400;
    color: #fff;
    text-align: left;
    padding-top: 200px;
}